.wrap-description {
  .wrap-quiz {
    background-color: #eee;
    padding: 16px;
    border-radius: 16px;
    margin: 30px auto;
  }
  img {
    max-width: 90%;
    display: block;
    margin: auto;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    margin-top: 60px;
  }
}
